In [ ]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 2.7MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.5)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 16.5MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 242kB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1

In [ ]:
pip install pyproj

Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (2.6.1.post1)

In [ ]:
from pyproj import Geod

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import geopandas as gpd
import requests
import shapely
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
delhi = gpd.read_file('/content/drive/My Drive/Colab Notebooks/new_delhi_wards.json')

In [ ]:
delhi = delhi.drop(columns=['WARD_NO',	'WARD_NAME', 'DISPLAY_NAME'])

In [ ]:
dt=pd.read_csv('/content/drive/My Drive/Colab Notebooks/new_delhi-wards-2019-2-All-HourlyAggregate.csv')

In [ ]:
dt=dt.drop(columns=['standard_deviation_travel_time', 'geometric_mean_travel_time',	'geometric_standard_deviation_travel_time'])

In [ ]:
delhi['MOVEMENT_ID']=delhi['MOVEMENT_ID'].astype('int')

In [ ]:
m1=pd.merge(delhi, dt, left_on='MOVEMENT_ID', right_on='sourceid')

In [ ]:
m1.head()

   MOVEMENT_ID  ... mean_travel_time
0            1  ...           233.60
1            1  ...           201.43
2            1  ...           179.93
3            1  ...           165.50
4            1  ...           158.29

[5 rows x 6 columns]

In [ ]:
m1['geometry']

0          POLYGON ((77.13228 28.63154, 77.13644 28.62062...
1          POLYGON ((77.13228 28.63154, 77.13644 28.62062...
2          POLYGON ((77.13228 28.63154, 77.13644 28.62062...
3          POLYGON ((77.13228 28.63154, 77.13644 28.62062...
4          POLYGON ((77.13228 28.63154, 77.13644 28.62062...
                                 ...
1455927    POLYGON ((77.08111 28.57601, 77.08554 28.57480...
1455928    POLYGON ((77.08111 28.57601, 77.08554 28.57480...
1455929    POLYGON ((77.08111 28.57601, 77.08554 28.57480...
1455930    POLYGON ((77.08111 28.57601, 77.08554 28.57480...
1455931    POLYGON ((77.08111 28.57601, 77.08554 28.57480...
Name: geometry, Length: 1455932, dtype: geometry

In [ ]:
m1.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
m1=m1.rename(columns={'geometry':'S_geometry'})

In [ ]:
m1.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1455932 entries, 0 to 1455931
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   MOVEMENT_ID       1455932 non-null  int64
 1   S_geometry        1455932 non-null  geometry
 2   sourceid          1455932 non-null  int64
 3   hod               1455932 non-null  int64
 4   mean_travel_time  1455932 non-null  float64
dtypes: float64(1), geometry(1), int64(3)
memory usage: 66.6 MB

In [ ]:
m2=pd.merge(delhi, dt, left_on='MOVEMENT_ID', right_on='dstid')

In [ ]:
m2=m2.rename(columns={'geometry':'D_geometry'})

In [ ]:
m2

         MOVEMENT_ID  ... mean_travel_time
0                  1  ...           233.60
1                  1  ...           182.14
2                  1  ...           162.93
3                  1  ...           156.47
4                  1  ...           164.51
...              ...  ...              ...
1455927          290  ...          1267.43
1455928          290  ...          1285.56
1455929          290  ...          1204.79
1455930          290  ...          1001.08
1455931          290  ...           875.21

[1455932 rows x 6 columns]

In [ ]:
m2.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1455932 entries, 0 to 1455931
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   MOVEMENT_ID       1455932 non-null  int64
 1   D_geometry        1455932 non-null  geometry
 2   sourceid          1455932 non-null  int64
 3   dstid             1455932 non-null  int64
 4   hod               1455932 non-null  int64
 5   mean_travel_time  1455932 non-null  float64
dtypes: float64(1), geometry(1), int64(4)
memory usage: 77.8 MB

In [ ]:
del(delhi)

In [ ]:
del(dt)

In [ ]:
m=pd.merge(m1, m2, left_on=['sourceid','dstid','hod'], right_on=['sourceid','dstid','hod'])

In [ ]:
m.head(20)

    MOVEMENT_ID_x  ... mean_travel_time_y
0               1  ...             233.60
1               1  ...             201.43
2               1  ...             179.93
3               1  ...             165.50
4               1  ...             158.29
5               1  ...             154.89
6               1  ...             165.38
7               1  ...             161.79
8               1  ...             191.77
9               1  ...             240.36
10              1  ...             270.83
11              1  ...             220.09
12              1  ...             215.39
13              1  ...             222.52
14              1  ...             221.94
15              1  ...             206.18
16              1  ...             196.34
17              1  ...             190.95
18              1  ...             182.66
19              1  ...             185.30

[20 rows x 9 columns]

In [ ]:
m_copy=m.copy()

In [ ]:
m_copy['S_geometry']=m_copy['S_geometry'].centroid
m_copy['D_geometry']=m_copy['D_geometry'].centroid

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

In [ ]:
m_copy

         MOVEMENT_ID_x  ... mean_travel_time_y
0                    1  ...             233.60
1                    1  ...             201.43
2                    1  ...             179.93
3                    1  ...             165.50
4                    1  ...             158.29
...                ...  ...                ...
1455927            290  ...            2281.00
1455928            290  ...            2848.11
1455929            290  ...            1937.00
1455930            290  ...            2190.38
1455931            290  ...            2626.67

[1455932 rows x 9 columns]

In [ ]:
m.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1455932 entries, 0 to 1455931
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   MOVEMENT_ID_x       1455932 non-null  int64
 1   S_geometry          1455932 non-null  geometry
 2   sourceid            1455932 non-null  int64
 3   dstid               1455932 non-null  int64
 4   hod                 1455932 non-null  int64
 5   mean_travel_time_x  1455932 non-null  float64
 6   MOVEMENT_ID_y       1455932 non-null  int64
 7   D_geometry          1455932 non-null  geometry
 8   mean_travel_time_y  1455932 non-null  float64
dtypes: float64(2), geometry(2), int64(5)
memory usage: 111.1 MB

In [ ]:
m.to_csv('merged.csv',index=False)

In [ ]:
m_copy.to_csv('merged1.csv', index=False)

In [ ]:
data=pd.read_csv('/content/merged1.csv')

In [ ]:
data

         MOVEMENT_ID_x  ... mean_travel_time_y
0                    1  ...             233.60
1                    1  ...             201.43
2                    1  ...             179.93
3                    1  ...             165.50
4                    1  ...             158.29
...                ...  ...                ...
1455927            290  ...            2281.00
1455928            290  ...            2848.11
1455929            290  ...            1937.00
1455930            290  ...            2190.38
1455931            290  ...            2626.67

[1455932 rows x 9 columns]

In [ ]:
new=data['S_geometry'].str.split("(", n=1, expand=True)
data["a"]=new[0]
data['source_longitude']=new[1]

In [ ]:
data

         MOVEMENT_ID_x  ...                      source_longitude
0                    1  ...    77.13179986460109 28.621414737282)
1                    1  ...    77.13179986460109 28.621414737282)
2                    1  ...    77.13179986460109 28.621414737282)
3                    1  ...    77.13179986460109 28.621414737282)
4                    1  ...    77.13179986460109 28.621414737282)
...                ...  ...                                   ...
1455927            290  ...  77.08282193508637 28.57316948198418)
1455928            290  ...  77.08282193508637 28.57316948198418)
1455929            290  ...  77.08282193508637 28.57316948198418)
1455930            290  ...  77.08282193508637 28.57316948198418)
1455931            290  ...  77.08282193508637 28.57316948198418)

[1455932 rows x 11 columns]

In [ ]:
new=data['source_longitude'].str.split(" ", n=1, expand=True)
data["Source_Longitude"]=new[0]
data['source_latitude']=new[1]
data.drop(columns=['source_longitude'], inplace=True)

In [ ]:
data.head()

   MOVEMENT_ID_x  ...   source_latitude
0              1  ...  28.621414737282)
1              1  ...  28.621414737282)
2              1  ...  28.621414737282)
3              1  ...  28.621414737282)
4              1  ...  28.621414737282)

[5 rows x 12 columns]

In [ ]:
new=data['source_latitude'].str.split(")", n=1, expand=True)
data["Source_Latitude"]=new[0]
data['source_longitude']=new[1]
data.drop(columns=['source_longitude'], inplace=True)

In [ ]:
data.head()

   MOVEMENT_ID_x  ...  Source_Latitude
0              1  ...  28.621414737282
1              1  ...  28.621414737282
2              1  ...  28.621414737282
3              1  ...  28.621414737282
4              1  ...  28.621414737282

[5 rows x 13 columns]

In [ ]:
data.drop(['source_latitude'],axis=1,inplace=True)

In [ ]:
data.drop(['a'],axis=1,inplace=True)

In [ ]:
data.head()

   MOVEMENT_ID_x  ...  Source_Latitude
0              1  ...  28.621414737282
1              1  ...  28.621414737282
2              1  ...  28.621414737282
3              1  ...  28.621414737282
4              1  ...  28.621414737282

[5 rows x 11 columns]

In [ ]:
new=data['D_geometry'].str.split("(", n=1, expand=True)
data["a"]=new[0]
data['dst_longitude']=new[1]

In [ ]:
new=data['dst_longitude'].str.split(" ", n=1, expand=True)
data["dst_Longitude"]=new[0]
data['dst_latitude']=new[1]
data.drop(columns=['dst_longitude'], inplace=True)

In [ ]:
data.head(2)

   MOVEMENT_ID_x  ...        dst_latitude
0              1  ...    28.621414737282)
1              1  ...  28.61058711806038)

[2 rows x 14 columns]

In [ ]:
new=data['dst_latitude'].str.split(")", n=1, expand=True)
data["dst_Latitude"]=new[0]
data['dst_longitude']=new[1]
data.drop(columns=['dst_longitude'], inplace=True)

In [ ]:
data.head(2)

   MOVEMENT_ID_x  ...       dst_Latitude
0              1  ...    28.621414737282
1              1  ...  28.61058711806038

[2 rows x 15 columns]

In [ ]:
data.drop(['dst_latitude'],axis=1,inplace=True)
data.drop(['a'],axis=1,inplace=True)

In [ ]:
data.head()

   MOVEMENT_ID_x  ...       dst_Latitude
0              1  ...    28.621414737282
1              1  ...  28.61058711806038
2              1  ...  28.61058711806038
3              1  ...  28.61058711806038
4              1  ...  28.61058711806038

[5 rows x 13 columns]

In [ ]:
data.drop(['MOVEMENT_ID_x'], axis=1, inplace=True)
data.drop(['MOVEMENT_ID_y'], axis=1, inplace=True)

In [ ]:
data.drop(['mean_travel_time_y'], axis=1, inplace=True)

In [ ]:
data=data.rename(columns={'mean_travel_time_x':'mean_travel_time'})

In [ ]:
data.insert(4,'S_geometry',data.pop('S_geometry'))

In [ ]:
data.head(2)

   sourceid  dstid  hod  ...  Source_Latitude      dst_Longitude       dst_Latitude
0         1      1   23  ...  28.621414737282  77.13179986460109    28.621414737282
1         1      2    0  ...  28.621414737282  77.14289455633259  28.61058711806038

[2 rows x 10 columns]

In [ ]:
data.to_csv('lat-long-data.csv', index=False)